<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de comentários</title>
</head>
<body>
    <form action="/comentario" method="post">
        <label for="campo-nome">Nome:</label>
        <input type="text" name="nome" id="campo-nome">

        <label for="campo-comentario">Comentário:</label>
        <textarea name="comentario" id="campo-comentario"></textarea>

        <button type="submit">ENVIAR</button>
    </form>
</body>
</html>